.container-misFavoritos{
    background: inherit;
}

.galeria-misFavoritos{
    display: grid;
    gap: 4rem 1rem;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); //auto-fill
}

.tituloGeneral-misFavoritos{
    color: #fff;
    padding-left: 2rem;
    margin-top: -5rem;
}

.container-botonEditar-misFavoritos{
    display: flex;
    justify-content: flex-end;
}

.botonEditar-misFavoritos{
    color: #ffffff;
    border-color: #ffffff;
    font-size: 1.2rem;
    padding: .4rem 1rem;
    border-width: 0.1rem;
    background-color: inherit;
}

.botonEditar-misFavoritos:hover{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
  }

.tarjeta-misFavoritos{
    background: none;
    margin: 2rem 0rem 0rem 2rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgba(0, 0, 0, 0.815);
    border-radius: 0.2rem;
    box-shadow: #000000;
    width: 15rem;
    height: 15rem;
}

.imagen-galeria-misFavoritos{
    width: 15rem;
    height: 15rem;
    border-radius: 0.2rem;
}

.titulo-galeria-misFavoritos{
    text-align: center;
    color: #fff;
    margin-top: 0.5rem;
}

.descripcion-galeria-misFavoritos{
    text-align: center;
    color: #fff;
    padding: 0.5rem;
}

